.projects {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.projects > h3 {
  margin-bottom: 5em;
}

.list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
