.card {
  background-color: #fff;
  box-shadow: 1px 2px 3px #cccc;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  min-width: 30%;
}

@media screen and (min-width: 800px) {
  .card {
    min-width: 20%;
  }
}
