.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 1em 2em;
  position: relative;
}

.popIn {
  animation: popIn 800ms ease-in-out 50ms both;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.99);
  }
  65% {
    transform: scale(1.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.popOut {
  animation: popOut 800ms ease-in-out 50ms both;
}

@keyframes popOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  65% {
    transform: scale(1.01);
  }
  100% {
    opacity: 0;
    transform: scale(0.99);
  }
}

.target {
  position: absolute;
  top: -3em;
}

.project > header {
  width: 100%;
  display: flex;
}

.project > header > img {
  width: 100%;

  height: 100%;
}

.project > footer {
  padding: 1em;
}

.desc {
  margin-bottom: 1em;
}
.data {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: baseline;
  margin-bottom: 0.8em;
}

.data > span {
  font-size: 1.2rem;
  color: var(--secondary-color);
}

@media screen and (min-width: 992px) {
  .project {
    max-width: 400px;
  }
}
