.container {
  background-color: var(--primary-light);
  z-index: 999;
  width: 100%;
  box-shadow: 1px 2px 4px #0005;
  position: relative;
}

.navbar {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1em 1em;
  height: 50px;
  animation: slideIn 600ms ease-in 200ms backwards;
  position: relative;
  z-index: 1000;
}

@keyframes slideIn {
  0% { transform: translateY(-100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.logo {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.navbarLinks {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000d;
  transition: var(--transition);
  z-index: 998;
}

.navbarLinks.open {
  opacity: 1;
  pointer-events: all;
}

.navbarLink > a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
  text-transform:capitalize ;
}

.navbarLink a:hover {
  background-color: #000f;
}

.activeLink a {
  color: var(--focus);
}

.navbarBtn {
  display: block;
}

@media screen and (min-width: 600px) {
  .navbarLinks {
    position: static;
    opacity: 1;
    pointer-events: all;
    flex-direction: row;
    gap: 1rem;
    background-color: transparent;
    box-shadow: none;
    width: auto;
  }

  .navbarLink > a {
    color: black; 
    padding: 0.5em;
  }

  .navbarBtn {
  display: none;
}
}



