.navbar {
  width: 100%;
  padding: 1em;
  max-width: var(--max-width);
  left: 0;
  transition: var(--transition);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}

.modal {
  display: flex;
  position: absolute;
  right: 0;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #000a;
  padding: 1em;
}
.closeModal {
  transition: var(--transition);
  opacity: 0;
  top: 3em;
  translate: 0 -50%;
  pointer-events: none;
}

.openModal {
  transition: var(--transition);
  opacity: 1;
  top: 3em;
  translate: 0 0;

  pointer-events: all;
}

.modal li {
  margin-bottom: 1em;
}

.toggleBtn {
  margin-right: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  transform: rotate3d(0, 0, 0, 0deg);
  transition: var(--transition);
}

.toggleBtn:hover {
  transform: rotate3d(0, 0, 1, 90deg);
  color: #fff;
  transition: var(--transition);
}

@media screen and (min-width: 600px) {
  .modal {
    position: static;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    padding: 0em;
  }

  .closeModal {
    opacity: 1;
    top: 3em;
    translate: 0 0;
    pointer-events: all;
  }

  .openModal {
    opacity: 1;
    pointer-events: all;
  }

  .modal li {
    margin-bottom: 0em;
    margin-left: 1em;
  }

  .toggleBtn {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}
