.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

.app > main {
  margin-top: 1rem;
  width: 100%;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #0009;
  color: white;
  margin-top: auto;
  margin-bottom: 0;
}
