.projectLinks {
  display: flex;
  width: 100%;
  padding: 1em 0;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  transition: var(--transition);
  z-index: 10;
}

.projectLinks li {
  margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
  .moving {
    background-color: #0008;
    transition: var(--transition);
    position: sticky;
  }

  .projectLinks {
    flex-direction: row;
    padding: 0;
    height: 3em;
  }

  .projectLinks li {
    margin-bottom: 0em;
  }
}
